<% layout('layouts/boilerplate') %>
<h1>SHOWING <%=campground.title.toUpperCase() %> </h1>
<%=campground.price %> 
<%=campground.description %> 
Campground Location: 
<%=campground.location%>
<form action="/campgrounds/<%=campground._id %>?_method=DELETE" method="POST"><button>DELETE</button></form>
<footer>
    <a href="/campgrounds/<%=campground._id %>/edit">EDIT</a>
    <a href="/campgrounds">SHOW ALL CAMPGROUNDS</a>
</footer>